<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div style="text-align: center; margin-top: 50px;">
        <h1>Line Notification</h1>
        <form method="POST" action="/send_message">
            <input type="text" name="message" placeholder="Enter your message">
            <button type="submit">Send Message</button>
        </form>
        <h2>Scan ME first!!</h2>
        <img src="../static/line.png" alt="QR Code">
    </div>
</body>
</html>

